<ul id="navigation-breadcrumb">
  <li class="first"><%= link_to t('global.home'), root_path %></li>
  <li><%= link_to t('pages.how_to'), url_for %></li>
</ul>

<h1>Ako používať</h1>
<div id="how-to-use">

  <p>Datanest obsahuje rôznorodé (prevažne finančné) informácie o&nbsp;fungovaní Slovenska: o&nbsp;tom, kto dostáva dotácie a v&nbsp;akej výške, aké firmy vyhrávajú štátne zákazky, koho si volíme ako našich zástupcov do politiky a.&nbsp;i. Zbierame ich v&nbsp;snahe vytvoriť ľahko prehľadávateľný archív o&nbsp;tom, ako sa na Slovensku nakladá s&nbsp;verejnými financiami.</p>

  <div id="box-container-how-to-use">

    <div class="box principles">
      <h2>Pri používaní Datanestu odporúčame dbať na&nbsp;niekoľko základných princípov</h2>
    </div>
    <div class="box one">
      <h3>Ako Datanest najlepšie využiť?</h3>
      <p>Cez fulltextové vyhľadávanie. Nebojte sa použiť operátory a filtre v&nbsp;rožírenom vyhľadávani podobné tým, ktoré poznáte z&nbsp;MS&nbsp;Excel. <a href="#" onclick="$('#searchline-container .info').click();">Ako funguje vyhľadávanie?</a></p>
      <p>S&nbsp;datasetmi nemusíte pracovať priamo na stránke. Ak by ste ich radšej analyzovali v&nbsp;tabuľkovom editore alebo v&nbsp;inej aplikácii, môžete si ich jednoducho stiahnuť vo&nbsp;formáte CSV (otvoríte napr. v&nbsp;Exceli). Datasety, ktoré sú k&nbsp;dispozícii na stiahnutie, sú v Katalógu údajov označené šípkou nadol. Stiahnuť ich je možné kliknutím na šípku alebo na tlačidlo “Stiahnuť dataset” v&nbsp;detaile datasetu.</p>
      Programátori si môžu dáta sťahovať automatizovane cez jednoduché API prostredníctvom kľúča, ktorý získa každý zaregistrovaný používateľ.
    </div>

    <div class="box two">
      <h3>Pozor na aktuálnosť!</h3>
      Veľkú časť dát dopĺňame ručne s&nbsp;polročnou alebo ročnou periodicitou. Hoci sa vždy snažíme, aby dáta boli čo najčerstvejšie, niekedy nestíhame, alebo nemáme od úradov k&nbsp;dispozícii všetko&nbsp;– aktualizácia preto trvá dlhšie. Môže sa stať, že niektoré datasety nie sú vždy aktuálne. Všímajte si preto dátumy poslednej aktualizácie v&nbsp;popisoch datasetov a pri jednotlivých záznamoch!
    </div>
    <div class="box three">
      <h3>Chybovosť dát</h3>
      Správnosť údajov vieme zaručiť iba do tej miery, do ktorej ju vie zaručiť štát. Ak ministerstvá alebo úrady zverejnia nesprávnu informáciu, nemusíme to zistiť a preberieme ju bez opravy. Datanest preto berte ako orientačný zdroj a <span class="important">pred použitím si informácie vždy overte!</span> Ak objavíte nepresnosť, dajte nám vedieť kliknutím na tlačidlo "Upozorniť admina na chybu".
    </div>
    <div class="box four">
      <h3>Licencie</h3>
      Dáta z Datanestu poskytujeme na ďalšie použitie pod tzv. verejnou licenciou&nbsp;– čiže v&nbsp;princípe bezplatne na akékoľvek použitie, ak dodržíte tri základné podmienky: uvediete autorstvo Aliancie Fair-play, použijete dáta v&nbsp;súlade s&nbsp;<%= link_to 'misiou projektu', page_path('about_service'), target: '_blank' %> a budete váš výsledný produkt licencovať rovnako. Viac o&nbsp;licencovaní si prečítate <%= link_to 'na stránke o autorských právach', page_path('copyright'), target: '_blank' %>.
    </div>
    <div class="box five">
      <h3>Načo je Datanest užitočný?</h3>
      <p>Dáta z&nbsp;Datanestu používame pri príprave analytických a investigatávnych materiálov.</p>
      <p>V&nbsp;blogu o&nbsp;tom, že <a href="https://dennikn.sk/blog/sirokemu-sa-uz-rozpada-aj-plastika-nestacila-ani-pomoc-od-statu/" target="_blank">Širokého spoločnosť Plastika získava dotácie</a> aj napriek zlým hospodárskym výsledkom.</p>
      <p>V&nbsp;blogu <a href="http://fairplay.blog.sme.sk/c/368963/o-peniazoch-pre-obce-rozhoduju-aj-stranicke-knizky.html" target="_blank">O&nbsp;peniazoch pre obce rozhodujú aj stranícke knižky</a> seme spájali dáta o&nbsp;dotáciách s&nbsp;dátami o&nbsp;funkčných obdobiach a straníckej príslušnosti starostov.</p>
      V blogoch o&nbsp;úspešnosti firiem známych oligarchov <a href="http://fairplay.blog.sme.sk/c/362438/ako-sa-darilo-sirokeho-firmam-v-tendroch-za-fica-a-radicovej.html" target="_blank">Širokého</a> a <a href="http://fairplay.blog.sme.sk/c/364635/ako-sa-darilo-poorovym-firmam-v-tendroch-za-fica-a-radicovej.html" target="_blank">Poóra</a> v&nbsp;získavaní štátnych tendrov sme porovnávali dáta o&nbsp;verejnom obstarávaní s&nbsp;funkčnými obdobiami posledných vlád.
    </div>
    <div class="box six">
      <h3>Viac info</h3>
      <p>Pre viac info o poslaní Datanestu si prečítajte sekciu <%= link_to 'O službe', page_path('about_service'), target: '_blank' %>.</p>
      <p>Pre viac info o pravidlách Datanestu si prečítajte <%= link_to 'Podmienky používania', page_path('terms_of_service'), target: '_blank' %>.</p>
      <h3>Súvisiace projekty</h3>
      Pozrite si aj naše webstránky <a href="http://www.znasichdani.sk/" target="_blank">ZNašichDaní.sk</a> a <a href="http://www.otvorenezmluvy.sk/" target="_blank">OtvorenéZmluvy.sk</a>.
    </div>
  </div>
</div>
