#pagination
  - if has_privilege?(:power_user)
    = render :partial => "datasets/admin/filter"

  - if current_user
    = form_for current_user, :url => account_path, :html => {:class => "submit_on_change"} do |f|
      %label{for: :recors_per_page}= t ("global.records_per_page")
      = f.select :records_per_page, RECORDS_PER_PAGE_OPTIONS, :value => current_user.records_per_page
      = hidden_field_tag :redirect, request.url

    %form.submit_on_change
      - params.except(:action, :controller, :id, :page).each do |param, value|
        %input{type: :hidden, name: param, value: value}
      %label{for: :page}= t("global.jump_to")
      %input.pagination-text{name: :page, value: params[:page] || 1}

      = page_entries_info_custom @records
      = will_paginate @records, :previous_label => '', :next_label => '', container: false, page_links: false
  - else
    %form.submit_on_change
      - params.except(:action, :controller, :id, :page).each do |param, value|
        %input{type: :hidden, name: param, value: value}
      %label{for: :recors_per_page}= t ("global.records_per_page")
      = select_tag :records_per_page, options_for_select(RECORDS_PER_PAGE_OPTIONS, params[:records_per_page] || RECORDS_PER_PAGE)

      %label{for: :page}= t("global.jump_to")
      %input.pagination-text{name: :page, value: params[:page] || 1}

      = page_entries_info_custom @records
      = will_paginate @records, :previous_label => '', :next_label => '', container: false, page_links: false
