%footer
  %ul#navigation-links
    %li= t('global.copyright_html')
    %li= t('global.concept_author_html')
    %li= link_to t('pages.copyright'), page_path('copyright')
    %li= link_to t('pages.terms_of_service'), page_path('terms_of_service')
    %li= link_to t('pages.documentation'), page_path('documentation')
    %li= link_to t('pages.donors'), page_path('donors')
    %li.last= link_to t('pages.contact'), page_path('contact')
